margin: 5px;
text-align: center;
}

/**h1, h2, h3, h4 {
html {
padding: 25px;
}
*/

#inputTitle{
width:100px;
}

#header {
background-color: #4080bf;
color: white;
text-align: center;
margin: auto;
width: 100%;
padding: 10px;
}

#test {
overflow: scroll;
height: 300px;
font-size: 12px;
}


/**
#mainContainer {
width: 700px;
align-content: center;
}
*/
#mapid {
  height: 400px;
  width: 100%;
  align-content: center;
}
/**
#userMap{
  height: 400px;
  width: 700px;
  align-content: center;
}

#result {
height: 200px;
padding: 10px;
}
*/
#tableLine{
height: 25px;
}

.button {
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
background-color:#ffffff;
border-radius:6px;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color:#3973ac;
font-family:Verdana;
font-size:14px;
padding:8px 25px;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
background-color:#f6f6f6;
}
.button:active {
position:relative;
top:1px;
}
